# --------------------------------------------------------------------
# deps and build/test results
node_modules
/.rpt2_cache
/_npm-lib
/tsconfig.build.*.json

# --------------------------------------------------------------------
# junk
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

